/.gradle/
/.settings/
.project
.classpath

/RBAC-Center/.settings/
/RBAC-Center/.project
/RBAC-Center/.classpath
/RBAC-Center/bin/
/RBAC-Center/lib/
/RBAC-Center/build/
/RBAC-Center/rbac.db
/RBAC-Center/config/application.properties
/RBAC-Center/res/config/


/RBAC-Client/.settings/
/RBAC-Client/.project
/RBAC-Client/.classpath
/RBAC-Client/bin/
/RBAC-Client/build/
/RBAC-Client/repos/

/RBAC-Test/.settings/
/RBAC-Test/.project
/RBAC-Test/.classpath
/RBAC-Test/bin/
/RBAC-Test/build/
/RBAC-Test/repos/