#set($navs=['访问项管理'])
#set($pageDesc='所有使用授权中心的产品的访问项的查询，修改与删除')
#parse('/header.vm')

<script src="/vm/access/index.js"></script>

##访问项编辑
<div id="editAccessDiv" class="col-xs-12" style="display:none;"><div class="widget-box">
<div class="widget-header">
    <h4 class="widget-title" style="word-break:break-all;">编辑访问项</h4>
    <div class="widget-toolbar">
        <a href="javascript:;" onclick="$(this).closest('.col-xs-12').slideUp()">
            <i class="ace-icon fa fa-close bigger-130"></i>
        </a>
    </div>
</div>
<div class="widget-body"><div class="widget-main">
<form class="form-horizontal">
    <p class="valid-err text-danger col-xs-9 col-xs-offset-3"></p>
    <input name="oldPattern" type="hidden"/>
    <div class="form-group">
        <label class="col-xs-3 control-label">pattern：</label>
        <div class="col-xs-9">
            <input id="pattern" name="pattern" data-required data-err="pattern不能为空"
                type="text" class="form-control" placeholder="访问项的pattern是一个正则表达式,用以与请求的URI进行匹配,判断用户是否有访问某些URI的权限"/><br>
            <div class="col-xs-12">            
                <div style="display:inline-block">
                    <div class="input-group" style="width:400px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-purple btn-minier" onclick="testPattern()">检查匹配</button>
                        </span>
                        <input id="testPatternUri" type="text" class="form-control" style="height:22px;" placeholder="请输入URI">
                    </div>
                </div>
                <div id="testPatternRst" class="text-info" style="line-height:22px;display:inline-block;vertical-align:top;"></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">名称：</label>
        <div class="col-xs-9">
            <input name="name" data-required data-err="访问项名称不能为空"
                type="text" class="form-control" placeholder="访问项名称，短名称"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">描述：</label>
        <div class="col-xs-9">
            <textarea name="des" data-required data-err="访问项描述不能为空"
                type="text" class="form-control" style="min-height:150px;" placeholder="访问项描述"></textarea>
        </div>
    </div>
    <button type="button" class="btn btn-purple btn-block" onclick="editAccessSave()">保存</button>
</form>
</div></div>##widget-body
</div></div>##widget-box

##访问项列表
<div class="col-xs-12"><div class="widget-box">
<div class="widget-header">
    <h4 class="widget-title">访问项列表</h4>
    <div class="widget-toolbar">
        <div class="input-group" style="width:200px;">
            <input id="keyword" type="text" class="form-control" style="height:22px;margin-top:7px;" placeholder="请输入关键词">
            <span class="input-group-btn">
                <button type="button" class="btn btn-purple btn-minier" onclick="loadAccesses()">
                    搜索<i class="ace-icon fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div id="accessesDiv" class="widget-body" style="display:none;"><div class="widget-main" style="padding-bottom:52px;">
<table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom:0;">
    <thead>
        <tr>
            <td style="width:30%;" title="访问项的pattern">pattern</td>
            <td title="访问项的名称">名称</td>
            <td style="width:88px;">
                <button onclick="addAccess()" title="增加一个新访问项" type="button" class="btn btn-primary btn-minier">新增</button>
            </td>
        </tr>
    </thead>
    <tbody id="accesses"></tbody>
</table>
<div id="accessesPager" widget="pager" class="pull-right" onpage="loadAccesses()"></div>
</div></div>##widget-body
</div></div>##widget-box
#parse('/footer.vm')