#set($navs=['产品管理'])
#set($pageDesc='所有使用授权中心的产品的查询，修改与删除')
#parse('/header.vm')

<script src="/vm/product/index.js?${ResVer}"></script>

##产品列表
<div class="input-group">
    <input id="keyword" onenter="queryProducts()" onkeyup="queryProducts()" type="text" class="form-control" placeholder="请输入关键词">
    <span class="input-group-btn">
        <button onclick="queryProducts()" type="button" class="btn btn-purple btn-sm" style="height:34px;">搜索<i class="ace-icon fa fa-search"></i></button>
    </span>
</div>
<div id="productsPager" widget="pager" show-count="true" show-page-count="true" show-page-size="true" show-go="true" class="pull-right" onpage="loadProducts()"></div>
<table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom:0;">
    <thead>
        <tr>
            <th style="width:15px;"></th>
            <th style="width:30%;" title="产品的ID">ID</th>
            <th title="产品的名称">名称</th>
            <th style="width:140px;" title="与产品相关的任何信息最近一次的修改时间">修改时间</th>
            <th style="width:88px;">
                <button onclick="addProduct()" title="增加一个新产品" type="button" class="btn btn-primary btn-minier">新增</button>
                <button onclick="sortProduct()" title="保存产品排序" type="button" class="btn btn-warning btn-minier">排序</button>
            </th>
        </tr>
    </thead>
    <tbody id="products" widget="sortabler" sortable-handle=".sortabler-handler"></tbody>
</table>

##产品编辑
<div id="editProductDiv" class="form-horizontal" style="display:none;">
    <p class="valid-err text-danger col-xs-11 col-xs-offset-1"></p>
    <input name="autoId" data-type="int" type="hidden"/>
    <input name="seq" data-type="int" type="hidden"/>
    <div class="form-group">
        <label class="col-xs-1 control-label">
            <span title="与其他产品区分的唯一ID,尽量由字母数字和下划线组成">ID<i class="text-danger">*</i>：</span>
        </label>
        <div class="col-xs-11">
            <input name="id" data-required data-err="产品ID不能为空" autocomplete="off"
                type="text" class="form-control" placeholder="与其他产品区分的唯一ID,尽量由字母数字和下划线组成"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-1 control-label">
            <span title="产品名称，短名称">名称<i class="text-danger">*</i>：</span>
        </label>
        <div class="col-xs-11">
            <input name="name" data-required data-err="产品名称不能为空" autocomplete="off"
                type="text" class="form-control" placeholder="产品名称，短名称"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-1 control-label">
            <span title="产品描述">描述：</span>
        </label>
        <div class="col-xs-11">
            <textarea name="des" autocomplete="off" type="text" class="form-control" style="min-height:150px;" placeholder="产品描述"></textarea>
        </div>
    </div>
</div>
#parse('/footer.vm')