#set($navs=['用户授权'])
#set($pageDesc='所有使用授权中心的用户在当前产品下权限的配置')
#parse('/header.vm')

<script src="/vm/userAuth/index.js"></script>

##用户授权配置
<div id="editUserAuthDiv" class="col-xs-12" style="display:none;"><div class="widget-box">
<div class="widget-header">
    <h4 class="widget-title" style="word-break:break-all;">为用户授权</h4>
    <div class="widget-toolbar">
        <a href="javascript:;" onclick="$(this).closest('.col-xs-12').slideUp()">
            <i class="ace-icon fa fa-close bigger-130"></i>
        </a>
    </div>
</div>
<div class="widget-body"><div class="widget-main">
<form class="form-horizontal">
    <p class="valid-err text-danger col-xs-9 col-xs-offset-3"></p>
    <div class="form-group">
        <label class="col-xs-3 control-label">用户ID：</label>
        <div class="col-xs-9 msg-tooltiper">
            <input id="userId" name="userId" type="text" class="form-control" readonly="readonly"/>
            <div class="tooltip-msg">
                <strong>ID:</strong><span id="userName"></span><br>
                <p id="userDes"></p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">拥有角色：</label>
        <div class="col-xs-9">
            <div class="input-group" style="width:100%">
                <select id="role" widget="select2" url="/edit/role/list.json" placeholder="请选择角色" style="width:100%"></select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-purple btn-sm" onclick="addRole()" style="height:28px;line-height:13px;">添加</button>
                </span>
            </div>
            <div id="roles" name="roleIds" data-type="arr" style="border:1px solid #d5d5d5;min-height:34px;"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">
            <span class="msg-tooltiper">
                单独访问项：
                <div class="tooltip-msg">
                    用户单独拥有的访问项
                </div>
            </span>
        </label>
        <div class="col-xs-9">
            <div class="input-group" style="width:100%">
                <select id="access" widget="select2" url="/edit/access/list.json" placeholder="请选择访问项" style="width:100%"></select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-purple btn-sm" onclick="addAccess()" style="height:28px;line-height:13px;">添加</button>
                </span>
            </div>
            <div id="accesses" name="accessPatterns" data-type="arr" style="border:1px solid #d5d5d5;min-height:34px;"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">
            <span class="msg-tooltiper">
                单独授权项：
                <div class="tooltip-msg">
                    用户单独拥有的授权项
                </div>
            </span>
        </label>
        <div class="col-xs-9">
            <div class="input-group" style="width:100%">
                <select id="permission" widget="select2" url="/edit/permission/list.json" placeholder="请选择授权项" style="width:100%"></select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-purple btn-sm" onclick="addPermission()" style="height:28px;line-height:13px;">添加</button>
                </span>
            </div>
            <div id="permissions" name="permissionIds" data-type="arr" style="border:1px solid #d5d5d5;min-height:34px;"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">
            <span class="msg-tooltiper">
                最终访问项：
                <div class="tooltip-msg">
                    合并用户拥有的角色所拥有的访问项<br>
                    以及单独分配给用户的访问项<br>
                    后得出的最终用户真正拥有的所有访问项
                </div>
            </span>
        </label>
        <div class="col-xs-9">
            <div id="mergeAccesses" style="border:1px solid #d5d5d5;min-height:34px;"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label">
            <span class="msg-tooltiper">
                最终授权项：
                <div class="tooltip-msg">
                    合并用户拥有的角色所拥有的授权项<br>
                    以及单独分配给用户的授权项<br>
                    后得出的最终用户真正拥有的所有授权项
                </div>
            </span>
        </label>
        <div class="col-xs-9">
            <div id="mergePermissions" style="border:1px solid #d5d5d5;min-height:34px;"></div>
        </div>
    </div>
    <button type="button" class="btn btn-purple btn-block" onclick="editUserAuthSave()">保存</button>
</form>
</div></div>##widget-body
</div></div>##widget-box

##用户列表
<div class="col-xs-12"><div class="widget-box">
<div class="widget-header">
    <h4 class="widget-title">用户列表</h4>
    <div class="widget-toolbar">
        <div class="input-group" style="width:200px;">
            <input id="keyword" type="text" class="form-control" style="height:22px;margin-top:7px;" placeholder="请输入关键词">
            <span class="input-group-btn">
                <button type="button" class="btn btn-purple btn-minier" onclick="loadUsers()">
                    搜索<i class="ace-icon fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>
<div class="widget-body"><div class="widget-main" style="padding-bottom:52px;">
<table class="table table-striped table-bordered table-hover table-condensed" style="margin-bottom:0;">
    <thead>
        <tr>
            <td style="width:200px;" title="用户的ID">ID</td>
            <td title="用户的名称">名称</td>
            <td style="width:45px;">操作</td>
        </tr>
    </thead>
    <tbody id="users"></tbody>
</table>
<div id="usersPager" widget="pager" class="pull-right" onpage="loadUsers()"></div>
</div></div>##widget-body
</div></div>##widget-box
#parse('/footer.vm')